*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

#wrapper{

    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;

    background-image: linear-gradient(40deg, rgb(75, 84, 87),rgb(60, 86, 100),rgb(48, 77, 94), rgb(42, 85, 110));
}
.container{

    max-width: 80%;
    width: 1080px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 3rem;
}
.header{

    font-size: 2rem;
    color: rgba(255, 237, 237, 0.789);
    font-weight: 600;
    text-transform: uppercase;

}

.output{

    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    color: rgb(255, 237, 237);
    padding: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgba(68, 118, 255, 0.414);
    border-radius: 1rem;
    box-shadow: 1px 3px 5px 5px rgb(59, 159, 192);
}

.main_body{

    width: 456px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgba(68, 118, 255, 0.414);
    border-radius: 1rem;
    box-shadow: 1px 3px 5px 5px rgb(59, 159, 192);
    gap: 1rem;
    color: rgb(255, 237, 237);
}

.length{

    display: flex;
    justify-content: space-between;
    gap: 8rem;
    font-size: 1.5rem;
}

.value_length{

    color: rgb(34, 229, 255);
    font-weight: 900
}

.slider{
    width: 100%;
}
.slide_range{
    width: 100%;
}

.option{
   
    font-size: 1rem;
    margin-top: 0.3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0 1rem;
}

.option label{

    color: #b1d5ff;
}

.checkBtn{

    cursor: pointer;
    color: #b3fff1;
}
.option input{
    
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid aquamarine;
    position: relative;
    border-radius: 0.35rem;
  }

.option input:checked{

    background-color: #00ccff;
}

.option input:checked::before{

    content: "✔";
    position: absolute;
    color: rgba(0, 88, 108, 0.599);
    top: 0;
    left: 0;
    font-size: 1.5rem;
    transform: translateX(1px) translateY(-12px);

}

.strength{

    font-size: 1.25rem;
    margin-top: 0.6rem;
    display: flex;
    justify-content: space-between;
}

.display_password{

    background-color: inherit;
    border: 0px;
    font-size: 1.5rem;
    color: cadetblue;
    font-weight: 700;
    width: 20rem;
}

.display_password:focus{

    outline: none;
}

.clip_button{

    position: relative;
    background-color: #395FA2;
    cursor: pointer;
    border: 0px;
}

.clip_button svg{

    width: 1.5rem;
    height: 1.5rem;
}

.data_copy_msg{

    position: absolute;
    background-color: aqua;
    font-size: medium;
    font-weight: 500;
    color: burlywood;
    padding: 0.35rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 1.5rem;
    top: -2.5rem;
    left: -1.5rem;
    transform: translateY(2rem);
    scale: 0;
    transition: all 400ms ease-in-out;
}

.active{
    transform: translateY(0rem);
    scale:1;
}

.color_str{

    height: 1.5rem;
    width: 1.5rem;
    border-radius: 1rem;
    background-color: #b3fff1;
    box-shadow: 1px 1px 5px 5px #b3fff1;
    transition: all 300ms ease-in-out;
}


.pink_btn{

    position: relative;
    margin-top: 0.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: x-large;
    font-weight: 900;
    border-radius: 1rem;
    color: #b3fff1;
    background-color: transparent;
    border: 1px solid rgba(80, 185, 255, 0.2);
    /**/
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.pink_btn::before{

    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 1rem;
    border-bottom: 3px solid rgb(43, 43, 43);
}

.pink_btn:hover{

    transform: scale(1.01);
    background: linear-gradient(90deg, rgba(0, 188, 255, 0.19) 0%, rgba(3, 153, 220, 1) 100%);
    box-shadow: 0px 0px 10px 10px rgba(80, 185, 255, 0.2); 
    color: #64f8dc;
    border: none;

}

.slide_range{

    appearance: none;
    height: 1rem;
    width: 100%;
    background-color: #395FA2;
    border-radius: 0.5rem;
    background: linear-gradient(90deg, rgba(253, 255, 0, 0.6) 0%, rgba(0, 255, 165, 0.6) 0%, rgba(220, 189, 3, 0.54) 43%, rgba(255, 0, 38, 0.55) 100%);
    outline: none;
    background-repeat: no-repeat;
    border: none;
    position: relative;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    z-index: 0;

}

.slide_range:focus{

    outline: 3px solid rgba(0, 170, 255, 0.6);
    z-index: 0;
}

.slide_range::-webkit-slider-thumb{

    appearance: none;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #0000006e;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    transition: border 200ms ease-in-out;
}


.slide_range::-webkit-slider-thumb:hover{

    border: 2px solid gray;
    box-sizing: content-box;
    box-shadow: 0px 0px 4px 1px rgb(142, 142, 142);

}

@media (max-width:600px) {
    


    .container{
        width: 95%;

    }

    .header{

        width: 100%;
        font-size: large;
        text-align: center;
    }
    .clip_button{

        position: absolute;
        right: 0.5rem;
    }
    .data_copy_msg{

        font-size: small;
        font-weight: 500;
    } 
    .output{

        width: 100%;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        padding-left: 1rem;
    }

    .display_password{

        font-size: large;
        width: 90%;
    }

    .main_body{

        width: 100%;
        padding: 0.7rem;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    }

    .length{

        font-size: 0.8rem;
        gap: 3rem;

        margin-right: 1rem;
    }
    .slide_range{
        height: 0.7rem;
    }

    .slide_range::-webkit-slider-thumb{

        height: 1rem;
        width: 1rem;

    }

    .strength{

        font-size: larger;
    }
    .color_str{

        margin-right: 1rem;
        height: 0.75rem;
        width: 0.75rem;
    }

    .pink_btn{

        font-size: medium;
    }

}




